 // Fonts
 @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

 // Variables
 @import "variables";
 
 // Bootstrap
 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 
 body{padding-bottom:100px;padding-top:70px;background-color:white}
    .level{display:flex; align-itmes:center;}
    .flex{flex:1;}
    #mySidenav a {
    position:fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 1;
    }

    #mySidenav a:hover {
        left: 0;
    }

    .tech {
        color: #4CAF50;
    }

    .general {
        color: #2196F3;
    }

    .review {
        color: #f44336;
    }

    .legal {
        color: #585
    }
     .music {
        color: #575
    }
     .gaming {
        color: #755
    }
    .ask-button{
        top: 150px;
         background-color:red
    }
    #thread-text:hover{opacity:0.6}

